body{
  margin:0;
  font-family:Arial;
  background:#f4f4f4;
}

.container{
  padding:40px;
  text-align:center;
}

.cardContainer{
  display:flex;
  gap:20px;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  background:white;
  padding:20px;
  width:250px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card button{
  padding:10px 15px;
  border:none;
  background:blue;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

.present{
  color:green;
  font-weight:bold;
  margin-left:5px;
}

.absent{
  color:red;
  font-weight:bold;
  margin-left:5px;
}