*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
    
}
/* input{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
} */

/* .box{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.594);
    outline: none;
} */

.page1{
    height: 100vh;
    width: 100%;
    background-color: #ff0000;
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: #00ff00;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: #0000ff;
}
