*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    
}
body{
    background-color: rgb(0, 0, 0);
}
.card{

    width: 260px;
    border: 2px solid rgba(255, 0, 0, 0.344);
    padding: 30px;
    border-radius: 10px;
    background-color: #222;
    
}
.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin: 5px 25px;
    border-radius: 50%;
}
.parent{
    padding: 20px;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 20px;
}
.card button{
    margin: 10px 20px ;
    padding: 10px 20px;
    border: none;
    color: black;
    background-color: white;
    border-radius: 6px;
}
.card p{
    margin: 10px 0px;
}
