*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
.card{
    background-color: red;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}