*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}

button{
    padding: 10px 20px;
    margin: 30px 40px;
    background-color: black;
    border-radius: solid 20px #363232;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
h1{
    background-color: rgb(33, 31, 31);
    color: whitesmoke;
    width: fit-content;
    font-size:100px;
    margin: 30px 80px;
    padding: 80px 120px;
    border-radius: 20px;
}