*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}

.parent{
    /* height: 100vh; */
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    padding: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    
}
.card{
    height: 300px;
    width: 250px;
    background-color: #feffff;
    border-radius: 30px;
    border: 1.5px solid rgba(255, 0, 0, 0.869);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top img{
    height: 45px;
    width: 45px;
    padding: 2px;
    border: 1px solid #dadada;
    border-radius: 50%;
}
.top button{
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding: 4px 8px;
    font: 11px;
    border-radius: 5px;
    gap: 3px;
    background-color: transparent;
    color: #b1b1b1;
}
/* .center{
    background-color: red;
} */
.center h3{
     font-size: 18px;
     font-weight: 500;
} 
.center h3 span{
    font-size: 8px;
    font-weight: 400;
    color: #8b8b8b;
}
.center h2{
    font-size: 16px;
    font-weight: 800;
}
 
.center .tag{
    display: flex;
    gap: 20px;
    margin: 7px 0px;

}
.center .tag h4{
    font-size: 12px;
    background-color: #dadada75;
    color: black;
    padding: 3px 4px;
    border-radius: 4px;
}
.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.5px solid #c7c5c560;
    padding-top: 15px;

}
.bottom .btag h3 {
    font-size: 16px;
    font-weight: 300;

}
.bottom .btag p{
    font-size: 12px;
    font-weight: 300;
}
.bottom button{
    background-color:black;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    font-size: 600;

}